<!-- ========================= footer start ========================= -->
<footer class="footer pt-120">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
          <div class="footer-widget">
            <div class="logo">
              <a href="../index.html">
                <img src="../assets/images/logo/logo.png" alt="logo" style="max-width: 180px;">
              </a>
            </div>
            <p class="desc">Safety, powered by AI.</p>
            <ul class="social-links">
              <li><a href="https://www.linkedin.com/company/securade-ai/"><i class="lni lni-linkedin"></i></a></li>
              <li><a href="https://x.com/securadeai"><i class="lni lni-twitter"></i></a></li>
            </ul>
          </div>
        </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 offset-xl-1">
    <div class="footer-widget">
        <h3>Company</h3>
        <ul class="links">
        <li><a href="../index.html#home">Home</a></li>
        <li><a href="../safety-copilot.html">Safety Copilot&trade;</a></li>
        <li><a href="../resources.html">Resources</a></li>
        </ul>
    </div>
    </div>>
      </div>
        <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
          <div class="footer-widget">
            <h3>About Us</h3>
            <ul class="links">
              <li>Contact Us</li>
              <li><a href="mailto:hello@securade.ai">hello@securade.ai</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer-widget">
            <h3>Subscribe for Updates</h3>
            <form action="https://securade.us8.list-manage.com/subscribe/post?u=c1838467fb5c2b0a86380a903&amp;id=223c7c53e5&amp;f_id=001ea8e3f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required placeholder="Email">
              <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="main-btn btn-hover">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ========================= footer end ========================= -->
  
  <!-- ========================= scroll-top ========================= -->
  <a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
  </a>